  @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.header{
    height: 98px;
    width: 100%;
    background: #512DA8;
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    line-height: 45.96px;
    color: #fff;
    

    display: flex;
    justify-content: center;
    align-items: center;
}